body {
  padding: 30px;
  margin-bottom: 100px !important;
}

.App {
  text-align: center;
  padding: 50;
}

.chartsDiv {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  height: 600px;
  box-sizing: border-box;

  .lineChartDiv {
    width: 90%;
    margin: auto;
    min-width: 670px;
  }
  .incomePieChartDiv {
    width: 90%;
    margin: auto;
    min-width: 335px;
  }
  .expensePieChartDiv {
    width: 90%;
    margin: auto;
    min-width: 335px;
  }
}

.form {
  padding-top: 25px;
}

h1 {
  padding-bottom: 50px;
}

.column1 {
  width: 35%;
}
.column2 {
  width: 15%;
}
.column3 {
  width: 15%;
}
.column4 {
  width: 25%;
}
.column5 {
  width: 10%;
}

// canvas {
//   min-width: 400px;
// }

.table-wrapper-scroll-y {
  display: block;
  height: 380px;
  overflow-y: auto;
}

.dropDown {
  height: 30px;
}
