body {
  padding: 30px;
  margin-bottom: 100px !important;
}

.App {
  text-align: center;
  padding: 50;
}

.form {
  padding-top: 25px;
}

h1 {
  padding-bottom: 50px;
}

.column1 {
  width: 35%;
}
.column2 {
  width: 15%;
}
.column3 {
  width: 15%;
}
.column4 {
  width: 25%;
}
.column5 {
  width: 10%;
}

.table-wrapper-scroll-y {
  display: block;
  height: 380px;
  overflow-y: auto;
}

.dropDown {
  height: 30px;
}
