body {
  padding: 30px;
  margin-bottom: 100px !important;
}

.App {
  text-align: center;
  padding: 50;
}

.chartsDiv {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  height: 600px;
  box-sizing: border-box;

  .lineChartDiv {
    width: 90%;
    margin: auto;
    min-width: 670px;
  }
  .incomePieChartDiv {
    width: 90%;
    margin: auto;
    min-width: 335px;
  }
  .expensePieChartDiv {
    width: 90%;
    margin: auto;
    min-width: 335px;
  }
}

h1 {
  padding-bottom: 50px;
}

.itemTableDiv {
  display: grid;
  grid-template-columns: 50% 50%;

  .incomeTable,
  .expenseTable {
    max-width: 890px;
    margin: auto;
  }

  #IncomeitemAmount,
  #ExpenseitemAmount {
    max-width: 80px;
  }
}

.table-wrapper-scroll-y {
  display: block;
  height: 380px;
  overflow-y: auto;
}

.dropDown {
  height: 30px;
}
